# .gitignore
.env
venv/
__pycache__/
uploads/
chroma_db/
*.pyc
*.log


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv310/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# Chroma database (optional, if large)
chroma_db/
uploads/
